a {
  color: var(--text-secondary);
}

p {
  @apply font-serif leading-6 text-base mb-3;
}

h2 {
  color: var(--text);
  @apply block font-serif text-3xl leading-10 mb-5 mt-10;
}

.subtitle {
  color: var(--text);
  @apply block font-serif text-3xl pb-4;
}
