a {
  color: var(--text-secondary);
}

p {
  @apply font-serif;
}

.title {
  color: var(--text);
  @apply block font-serif text-5xl;
}

.subtitle {
  color: var(--text);
  @apply block font-serif text-3xl pb-4;
}
